

.skills {
    min-height: 80vh;
    width: 90%;
    overflow: hidden;
    padding: 0px;
}

.skills-logo {
    background: transparent;
    height: 300px;
    margin: 15px;
}

div.alice-carousel__play-btn-wrapper {
    background-color: transparent;
}

p.alice-carousel__next-btn-item,
p.alice-carousel__prev-btn-item {
    /* background-color: #C8E4E7; */
    /* border-radius: 15px; */
    color: #697f7f;
    font-family: 'Antic', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    /* padding: 8px; */
}

p.alice-carousel__next-btn-item:hover,
p.alice-carousel__prev-btn-item:hover {
    color: white;
}
